form{
    background-color:rgb(104, 93, 73);
    border: 2px solid rgb(109, 109, 109);
    padding: 10px;
    width: 185px;
    border-radius: 10px;
    ;
}

input{
    margin: 2px;
    height: 20px;
    border-radius: 3px;
    border: none;
}

.genderRadio{
    font-family: Arial, Helvetica, sans-serif;
}

.genderRadio:hover{
    color:rgb(107, 107, 107);
}

#Submit{
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
}

#Submit:hover{
    background-color: rgb(253, 158, 158);
    border-color: gray;
}

#errorMessage{
    color: rgb(255, 121, 121);
    font-family: Arial, Helvetica, sans-serif;
    
}
